@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px; /* base lebih besar dari default browser (biasanya 14-16px), sesuai prinsip elderly-friendly */
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE/Edge lama */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Edge */
}